= form_for(@customer) do |f|
  - if @customer.errors.any?
    #error_explanation
      %h2
        = pluralize(@customer.errors.count, "error")
        prohibited this customer from being saved:
      %ul
        - @customer.errors.full_messages.each do |message|
          %li= message
  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.text_field :email
  .field
    = f.label :password
    %br/
    = f.text_field :password
  .field
    = f.label :cell
    %br/
    = f.text_field :cell
  .field
    = f.label :gender
    %br/
    = f.text_field :gender
  .field
    = f.label :birthday
    %br/
    = f.text_field :birthday
  .field
    = f.label :address
    %br/
    = f.text_field :address
  .field
    = f.label :city
    %br/
    = f.text_field :city
  .field
    = f.label :zip
    %br/
    = f.text_field :zip
  .field
    = f.label :notes
    %br/
    = f.text_field :notes
  .actions
    = f.submit
