=render layout: "stecms_appointment/shared/panel" do
  =render_card_box title: "Elenco prenotazioni storia", collapse: false do
    %p
      %strong Nome:
      = @customer.name
    %p
      %strong Email:
      = @customer.email
    %p
      %strong Cellula:
      = @customer.cell
    %p
      %strong Compleanno:
      = @customer.birthday
    %p
      %strong Indirizzo:
      = @customer.address
    %p
      %strong Città:
      = @customer.city



    .table-responsive
      %table.table.table-sm#user-roles-table
        %thead
          %tr
            %th Data
            %th Ora
            %th Trattamento
            %th Operator
            %th Prezzo
            %th Durata
            %th Stato
            -# %th From
        %tbody
          - @customer.bookings.order("created_at DESC").limit(10).each do |book|
            %tr
              - service = book.service
              %td= Time.at(book.start_time).to_date.strftime('%d-%m-%Y')
              %td= Time.at(book.start_time).strftime('%H:%M')
              %td= service&.title
              %td= book.operator&.operator_name
              %td= book&.price
              %td= service&.duration_in_minute
              %td= book&.status
              -# %td= book&.from_where
