=render layout: "stecms_appointment/shared/panel" do
  = render_card_box title: "Elenco di appuntamenti", collapse: false do
    .table-responsive
      %table.table.table-condensed.mt-3
        %thead
          %tr
            %th=t("admin.users.table.email")
            %th Nome
            -# %th=t("admin.users.table.cell")
            %th Data
            %th Ora
            %th Trattamento
            -# %th Operator
            %th Prezzo
            -# %th Duration
            %th Stato
            -# %th From
            %th
            %th

        %tbody
          - @bookings.each do |book|
            - customer = book.user
            %tr
              - service = book.service
              - service = book.service
              %td= customer&.email
              %td= customer&.name
              -# %td= customer&.cell
              %td= Time.at(book.start_time).to_date.strftime('%d-%m-%Y') if book.start_time.present?
              %td= Time.at(book.start_time).strftime('%H:%M') if book.start_time.present?
              %td= service&.title
              -# %td= book&.operator&.operator_name
              %td= "€ #{book&.price}"
              -# %td= service&.duration_in_minute
              %td= book&.status
              -# %td= book&.from_where
              %td
                = link_to t("admin.words.edit"), edit_booking_path(book.id), class: "lbtn-flat primary actions-a btn-modify event-link text-right", remote: true
              -# %td
              -#   = link_to t("admin.words.delete"), booking_path(id: book, html: true), method: :delete, class: 'text-tet', data: { confirm: t("closed_date.confirm_remove")}


#editAppointment.modal
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal"} &times;
    %h3 Modifica Appuntamento
  .edit-form

- if @data_master_is_ready
  = javascript_include_tag 'stecms_appointment/load-calendar'
= javascript_include_tag  'stecms_appointment/customers', 'stecms_appointment/bookings', 'stecms_appointment/treatments'
= javascript_include_tag "stecms_appointment/jquery.stellar"
= javascript_include_tag "stecms_appointment/shortcut"
= javascript_include_tag "stecms_appointment/salonist"
= javascript_include_tag "stecms_appointment/variable"

- content_for :js_head do
  = javascript_include_tag "stecms_appointment/application"

