.control-group.string.optional.employee_first_name
  %label.string.optional.control-label  Nome
  .controls
    = f.text_field :operator_name, class: 'validate'

.control-group.string.optional.employee_mobile_number
  %label.string.optional.control-label  Cellulare
  .controls
    = f.text_field :mobile, data: { :'default-country' => 'it' }

.control-group.email.optional.employee_email
  %label.email.optional.control-label email
  .controls
    = f.text_field :email, as: :email


%hr

.control-group.optional.employee_description
  %label.string.optional.control-label Role user
  .controls
    = f.collection_select(:user_role, get_collection_user_role, :id, :name, :prompt => 'Select', class: "form-control")

.control-group.string.optional.employee_first_name
  %label.string.optional.control-label  Max booking
  .controls
    = f.number_field :max_amount_booking, style: "box-sizing:initial"
